[submodule "utils/powershell"]
	path = utils/powershell
	url = https://github.com/norsemangrey/powershell-script-support-functions.git
[submodule "utils/bash"]
	path = utils/bash
	url = https://github.com/norsemangrey/bash-script-support-functions.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
